@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
// font-family: Domine Serif
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
// font-family: DM Serif

@import "variables";
@import "base";
@import "components/CountryFilter";
@import "components/PageSizeFilter";
@import "components/InfoNote";
@import "components/Article";
@import "components/Spinner";

h1 {
  color: black;
  text-align: center;
  font-family: "DM Serif Display", serif;
  border-top: black dotted 1px;
  padding-top: 25px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.filters {
  display: flex;
  justify-content: center;
}

.articlesList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
